astroid==2.2.5
blessings==1.7
certifi==2019.6.16
chardet==3.0.4
cycler==0.10.0
Events==0.3
idna==2.8
iqoptionapi
isort==4.3.21
kiwisolver==1.1.0
lazy-object-proxy==1.4.2
matplotlib==3.1.1
mccabe==0.6.1
mpl-finance==0.10.0
numpy==1.17.2
promise==2.2.1
pylint==2.3.1
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2019.2
requests==2.22.0
six==1.12.0
TA-Lib==0.4.17
typed-ast==1.4.0
urllib3==1.25.3
websocket-client==0.47.0
wrapt==1.11.2
interruptingcow